* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.move-me {
  background-color: rgb(107, 0, 0);
  color: white;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
